* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: var(--ff-base);
}

:root {
  /* Content */
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  /* Background */
  --bg-primary: #151515;
  --bg-secondary: #1e1e1e;
  --bg-tertiary: #23242c;
  --bg-brand: #9282fa;
  --bg-highlights: #bdb4fa;

  /* Border */
  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;

  /* Accent */
  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  /* Font families */
  --ff-base: "Inter", sans-serif;
  --ff-tight: "Inter Tight", sans-serif;

  /* Title */
  --title: 700 2.4rem/3.2rem var(--ff-tight); /* 24px/32px Bold */

  /* Paragraphs */
  --font-paragraph-md: 500 1.4rem/2.4rem var(--ff-base); /* 14px/24px Medium */
  --font-paragraph-sm: 500 1.2rem/1.6rem var(--ff-base); /* 12px/16px Medium */

  /* Labels */
  --font-label-lg: 700 1.6rem/2.4rem var(--ff-base); /* 16px/24px Bold */
  --font-label-md: 500 1.4rem/2.4rem var(--ff-base); /* 14px/24px Medium */
  --font-label-sm: 700 1.2rem/1.6rem var(--ff-base); /* 12px/16px Bold */

  /* Link */
  --font-link: 500 1.2rem/1.6rem var(--ff-base); /* 12px/16px Medium */
}

body {
  background-color: #14151d;
}

ul,
li {
  list-style-type: none;
}

.hour-available {
  color: var(--content-primary);
}
.hour-unavailable {
  opacity: 0.5;
}


::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../assets/arrow-down.svg") no-repeat;
}

#brand {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2e2c30;
  color: var(--border-brand);
  padding: 1.4rem 2rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  text-align: center;
  border-bottom-right-radius: 1.2rem;
  & img {
    width: 2rem;
    height: 2rem;
    color: var(--border-brand);
  }
  & span {
    font-family: "Familjen Grotesk", sans-serif;
    font: var(--font-label-lg);
    text-transform: uppercase;
  }
}

button {
  all: unset;
}

#new-schedule {
  position: absolute;
  bottom: 3.3rem;
  right: 3rem;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

.btn-primary {
  font: var(--font-label-lg);
  color: #050505;
  text-transform: uppercase;
  border-radius: 0.8rem;
  background-color: var(--content-brand);
  box-shadow: 0 0 4rem rgba(146, 130, 250, 0.3);
  border: none;
  &:hover {
    scale: 1.01;
  }
}

.disabled {
  display: none !important;
}
